body {
    background-color:#f5e79e ;
}
.jumbotron h1 {
    font-family: "Lucida Calligraphy";

}
.jumbotron {
    background-color: #f5e79e;
}

.h1 {
    float: left;
    text-align: left;
    font-size: medium;
    border-style: none;
    background-color: #f5e79e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.row {
    margin-left: 250px;
}

.header {
    font: bold;
    font-size: 27px;
    padding: 10px;
    float: left;
    border-color: #f5e79e;
    color: #2aabd2;
}

.bigicon {
    font-size: 0px;
    color: #f5e79e;
}

.adresonder {
    border-style: none;
    background-color: transparent;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: inherit;
}

.headerbestel {
    border-style: none;
    text-align: center;

}
.submit {
    border-style: none;
    text-align: center;

}

.headergerechten {
    text-align: center;
    font-size: xx-large;
    background-color: #f5e79e;
    border-style: none;
}

.listgerechten {
    text-align: center;

}

.terms {
    text-align: center;
    font-style: bold;
}

.wensen {
    text-align: center;
}
